## Top 80 Questions in Python

### Day 1 20 Questions

#### Focus: Loops + If-Else + Patterns

1. Print all even numbers from 1 to N

In [ ]:
inp = int(input("Enter a Number:"))  #we take input to define N
for i in range(1, inp+1):
    if i % 2 == 0:
        print(f"{i} is even")

2. Print sum of first N natural numbers

In [ ]:
n = int(input("Enter a number: "))
total = 0

for i in range(1, n + 1):
    total = total + i

print("Sum is:", total)

In [ ]:
N = int(input("Enter a Number :"))
total = 0
for i in range(1, N+1):
    total = total + i
    print(total)

3. Find factorial of a number (using loop)

In [ ]:
ab = list(range(5,0,-1))
print(ab)

In [ ]:
num = int(input("Your Number"))
fact = 1

for i in range(num, 0, -1):
    fact = fact*i
print(fact)

4. Count digits in a number

In [ ]:
num1 = 121
len(str(num1))

5. Reverse a number

In [ ]:
str(num1)[::-1]

In [ ]:
str(num1)

In [ ]:
rev

In [ ]:
str(num1) == rev

6. Check if number is palindrome

In [ ]:
userinp = int(input("Enter a Palindrome Number"))
if str(userinp) == str(userinp)[::-1]:
    print(userinp, "is palindrome")
else:
    print(f"{userinp} is not palindrome")

7. Find the sum of digits of a number

In [ ]:
digits = 21485
str1 = str(digits)
total = 0

for i in str1:
    total = total + int(i)   # âœ… convert i to int
print("Sum of digits:", total)

In [ ]:
digits = 21485
total = 0

while digits > 0:
    total = total + digits % 10   # last digit
    digits = digits // 10         # remove last digit

print("Sum of digits:", total)

8. Find max of 3 numbers using if-else

In [ ]:
num1 = int(input("Enter No.1"))
num2 = int(input("Enter No.2"))
num3 = int(input("Enter No.3"))

if num1>num2 and num1>num3:
    print(f"{num1} is greatest")
elif num2>num1 and num2>num3:
    print(f"{num2} is greatest")
else:
    print(f"{num3} is greatest")

9. Check whether number is divisible by 3 and 5

In [ ]:
num1 = int(input("Enter No.1"))
if num1%3==0 and num1%5==0:
    print("divisible by 3 and 5")
else:
    print("Bye")

11. Print Half Pyramid of Stars

In [ ]:
star = int(input("Enter no of Stars"))
row = 1
while row<=star:
    print("* "*row)
    row += 1

12. Inverse Pyramid of Stars

In [ ]:
star = int(input("Enter no of Stars"))
row = star
while row>=1:
    print("* "*row)
    row -= 1

13. Inverse pyramid using for loop

In [ ]:
star = int(input("Enter no of Stars"))
for row in range(star,0,-1):
    print("* "*row)

14. Print Inverted Number Triangle

In [19]:
numb = int(input("Enter a number: "))
for row in range(numb, 0, -1):
    for col in range(row,0,-1):
        print (col, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

15. Floyd's Triangle

Input: 4
<br>
Output:<br>
1<br>
2 3<br>
4 5 6<br>
7 8 9 10<br>

In [33]:
floyd = int(input("Enter"))
num=1
for row in range(1, floyd+1):
    for col in range(1, row+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

16. Check if its a prime number or not

In [34]:
def isprime(n):
    if n<=1:
        return(f"{n} is NOT a Prime number ")
    for i in range(2, n//2 + 1):
        if n%i==0:
            return(f"{n} is NOT a Prime number ")
    return(f"{n} is a Prime number ")

In [36]:
print(isprime(15))

15 is NOT a Prime number

17. Print All Prime Numbers from 1 to N

In [42]:
def isprime(n):
    if n<=1:
        return False
    for i in range(2, n//2 + 1):
        if n%i==0:
            return False
    return True

inp1 = int(input("Please Enter a Number"))
print("The prime number between 1 and", inp1, "are :")
for i in range(1, inp1+1):
    if isprime(i):
        print(i , end = " ")

The prime number between 1 and 4 are :
2 3