## Top 80 Questions in Python

### Day 2 20 Questions

1. Create a list of 5 numbers. Print the 2nd and last elements.

In [2]:
list1=[1,2,3,4,5]
print(list1[1])
print(list1[4])

2
5

2. Append a number to the list. Then insert a number at index 2.

In [12]:
list1
list1.append(88)
list1[2] = 33
print(list1.pop(5))
print(list1)

88
[1, 2, 33, 4, 5, 88, 88, 88, 88, 88, 88]

3. Sort the list in descending order.

In [14]:
list2 = [1,2,2,45,89,5,7]
list2.sort(reverse=True)
list2

[89, 45, 7, 5, 2, 2, 1]

4. Remove the first occurrence of a number from the list.

In [15]:
list2.remove(2)

In [16]:
list2

[89, 45, 7, 5, 2, 1]

5. Reverse the list without using reverse() or slicing.

In [ ]:
list3 = [4,5,6,8,23,4]  ##recheck and revise
reversed_list = []
for i in list3:
    reversed_list = [i] + reversed_list
print(reversed_list)

[4, 23, 8, 6, 5, 4]

6. Create a tuple with 5 elements. Print its length.

In [18]:
mytup = (10,20,40,80,160)
print(len(mytup))

5

7. Count how many times a specific element appears.

In [19]:
my_tuple = (5, 10, 5, 20, 5)
print(my_tuple.count(5))

3

8. Find the index of an element in the tuple

In [22]:
mytup = (10,20,40,80,160)
mytup[0]
mytup.index(40)

2

Q9. Convert tuple to list, change a value, and convert back to tuple.

In [29]:
mytup = (10,20,40,80,160)
temp = list(mytup)
temp[0] = 69
mytup = tuple(temp)
mytup

(69, 20, 40, 80, 160)

 Q10. Try to modify a tuple directly â€” observe and explain the error.

In [30]:
mytup = (10,20,40,80,160)
mytup[0] = 100

TypeError: 'tuple' object does not support item assignment

11. Create a set with duplicates. Print the set.

In [32]:
myset = {1,20,2,20,3,2}
print(myset)
#returns with no dupli and sorted as well

{1, 2, 3, 20}

12. Add an element to the set.

In [34]:
myset = {1,20,2,20,3,2}
myset.add(77)
print(myset)

{1, 2, 3, 77, 20}

13. Remove an element from the set safely.

In [35]:
myset

{1, 2, 3, 20, 77}

In [38]:
myset.discard(77)
print(myset)

{2, 3, 20}

 Q14. Find the union of two sets.

In [40]:
a ={1,2,3,4,5}
b= {4,5,6,7,8}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}

 Q15. Find the intersection of two sets.

In [41]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a.intersection(b)
print(c)

{3}

16. Create a dictionary with 3 key-value pairs.

In [42]:
mydict = {"Name":"Harsh", "Age" : "24", "Fit": "Yes" }
print(mydict)

{'Name': 'Harsh', 'Age': '24', 'Fit': 'Yes'}

17. Add a new key-value pair to the dictionary.

In [47]:
mydict["City"]= "Bengaluru"
print(mydict)

{'Name': 'Harsh', 'Age': '24', 'Fit': 'Yes', 'City': 'Bengaluru'}

 Q18. Change the value of an existing key.

In [50]:
mydict["Name"] = "Harsh Sharma"
print(mydict)

{'Name': 'Harsh Sharma', 'Age': '24', 'Fit': 'Yes', 'City': 'Bengaluru'}

Q19. Print only the keys, then only the values.

In [55]:
print(mydict.keys())
print(mydict.values())

dict_keys(['Name', 'Age', 'Fit', 'City'])
dict_values(['Harsh Sharma', '24', 'Yes', 'Bengaluru'])

Q20. Check if a key exists, and print its value.

In [56]:
if "Age" in mydict:
    print("Yes")
else:
    print("No")

Yes